* {
    margin: 0;
    padding: 0;
}

.detailsModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4)

}

.modal-body {
    height: 275px;
    width: 730px;
    background-color: aliceblue;
    position: absolute;
    top: 128px;
    left: 264px;
    padding: 25px;
}